<a href="https://colab.research.google.com/github/ManasaCherukupally1/Manasa_INFO5731_Spring2023/blob/main/Inclass_Exercises/Cherukupally_Manasa_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
length=input("enter the length ")
width=input("enter the width ")
area=float(length)*float(width)
print("area of the rectangle {}".format(area))

enter the length 5
enter the width 4
area of the rectangle 20.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
a=int(input("enter value of a "))
b=int(input("enter value of b "))
a=a+b
b=a-b
a=a-b
print("after swap a= {}, b= {}".format(a,b))

enter value of a 3
enter value of b 4
after swap a= 4, b= 3

(3) Write a Python program to calculate the length of a string.

In [ ]:
value="Manasa"
print("length of string is {}".format(len(value)))

length of string is 6

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
val='google.com'
count={}
for i in val:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [ ]:
l=[1,2,3,4,5]
l_count=0
for i in l:
  l_count+=i
print("sum of all items in list= {}".format(l_count))

sum of all items in list= 15

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:
val='restart'
newval=val[0]+''
for i in range(1,len(val)):
  if val[0] == val[i]:
    newval=newval+'$'
  else:
    newval=newval+val[i]
print(newval)

resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
fact = 1
i = 1

number = 5

while i <= number:
  fact = fact*i
  i = i + 1
print("The factorial of", number, "is", fact)

The factorial of 5 is 120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
s = input("Enter a list of numbers separated by comma: ")
l = [int(num) for num in s.split(',')]
new_l=[]
for i in l:
  if(i%2==0):
    new_l.append(i)
print(new_l)

Enter a list of numbers separated by comma: 1,2,3,4,5,6
[2, 4, 6]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
a=float(input("Enter value of a "))
b=float(input("Enter value of b "))
S=3.14*((1+(a/b))**3)
print("Result of S= {}".format(S))

Enter value of a 2
Enter value of b 3
Result of S= 14.537037037037033

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

new_dict = {}
for d in [dic1,dic2,dic3]:
  new_dict.update(d)

print("Expected Result:", new_dict)

Expected Result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
def minmax(t):
  max=min=t[0]
  for i in t:
    if i < min:
      min=i
    if i > max:
      max=i
  return min,max

s = input("Enter a list of numbers separated by comma: ")
t = tuple(int(num) for num in s.split(','))
min,max=minmax(t)
print("largest elements is {}, smallest element is {}".format(max,min))

Enter a list of numbers separated by comma: 1,2,3,4,5,6
largest elements is 6, smallest element is 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [ ]:
# write your answer here
str1="google colab"
dic={}
for i in str1:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

{'g': 2, 'o': 3, 'l': 2, 'e': 1, ' ': 1, 'c': 1, 'a': 1, 'b': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
t=(1,2,3,4,5,6,7)
a=int(input("Enter value of a "))
if a in t:
  print("{} exists in tuple".format(a))
else:
  print("{} doesn't exists in tuple".format(a))

Enter value of a 4
4 exists in tuple

(14) Write a Python program to find maximum and the minimum value in a set.

In [ ]:
def minmax(s):
  s_l = list(s)
  min=max = s_l[0]
  for i in s:
    if i < min:
      min=i
    if i > max:
      max=i
  return min,max

s = input("Enter a list of numbers separated by comma: ")
t = set(int(num) for num in s.split(','))
min,max=minmax(t)
print("largest elements is {}, smallest element is {}".format(max,min))

Enter a list of numbers separated by comma: 2,4,3,6,5
largest elements is 6, smallest element is 2

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [ ]:
import random

def div_groups(s, max_g, min_g):
    random.shuffle(s)
    num_s = len(s)

    groups = []
    current_group = []

    for student in s:
        current_group.append(student)

        if len(current_group) == max_g:
            groups.append(current_group)
            current_group = []

    if current_group:
        while len(current_group) < min_g:
            current_group.append(s.pop())
        groups.append(current_group)

    return groups

s = ['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]

max_g = 6
min_g = 4

groups = div_groups(s, max_g, min_g)
for i, group in enumerate(groups, start=1):
  print(f"Group {i}: {group}")

Group 1: ['ns0756', 'ag1609', 'dt0463', 'gk0257', 'ad1187', 'gm0558']
Group 2: ['sg1638', 'ab1820', 'mc1453', 'sd1268', 'mg1299', 'gp0306']
Group 3: ['mt0825', 'dv0310', 'sp2075', 'lp0502', 'sb1826', 'rm1090']
Group 4: ['su0137', 'am2807', 'tc0469', 'sm2364', 'lb0582', 'sm2747']
Group 5: ['vr0331', 'pm0658', 'am2346', 'yr0180', 'ac1770', 'ss2981']
Group 6: ['sb1883', 'mb1296', 'sm2343', 'as2819', 'htn0086', 'vkk0022']
Group 7: ['sd0926', 'vm0597', 'sr1508', 'sc1622', 'bk0413']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [ ]:
def find(arr):
    seen = set()
    dups = set()

    for num in arr:
        if num in seen:
            dups.add(num)
        else:
            seen.add(num)

    return list(dups) if dups else -1

arr = [4, 2, 8, 7, 2, 5, 8]
result = find(arr)

if result == -1:
    print("No duplicate")
else:
    print("Duplicate elements:", result)

Duplicate elements: [8, 2]

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
import datetime

def find(year):
    sun = []
    date = datetime.date(year, 1, 1)

    while date.year == year:
        if date.weekday() == 6:
            sun.append(date)
        date += datetime.timedelta(days=1)

    return sun

year = 2023
sun_of_year = find(year)

print(f"Sundays of {year}:")
for sunday in sun_of_year:
    print(sunday)

Sundays of 2023:
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

num = 5
result = fact(num)
print(f"The fact of {num} is {result}")

The fact of 5 is 120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [ ]:
n = int(input("Enter a positive integer: "))

count = 0
for num in range(1, n + 1):
  if num % 2 == 0:
    count += 1
    if num > n:
      break
print(count)

Enter a positive integer: 5
2

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [ ]:

def count_vowels(str1):
  count=0
  vowels='aeiouAEIOU'
  for i in str1:
    if i in vowels:
      count=count+1
  return count

str1= input("Enter a string ")
count=count_vowels(str1)
print(count)

Enter a string abc
1